/* * {
    padding: 0px;
    margin: 0px;
} */

body {
    display: flex;
    justify-content: center;
    height: 100vh;
}

#title {
    font-weight: bold;
    font-size: 40px;
}

.containerDiv {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.startButton {
    width: 50px;
    height: 50px;
}

#result {
    color: red;
    font-weight: bold;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
}

.winningNumber {
    color: red !important;
    font-size: 60px !important;
    transition: 0.3s !important;
    font-weight: bold !important;
}

.gameGrid {
    display: flex;
    width: 300px;
    height: 300px;
    flex-wrap: wrap;
}

.gameSquare {
    height: 100px;
    width: 100px;
    box-sizing: border-box;
}

.gameSquare:disabled {
    color: black;
    background-color: buttonface;
}

.gameSquare:hover {
    background-color: grey;
}

.line1 {
    border: none;
    border-bottom: solid black;
}

.line2 {
    border: none;
    border-bottom: solid black;
}

.line3 {
    border: none;
}

.column1 {
    border-right: solid black;
}

.column2 {
    border-right: solid black;
}

.githubLink {
    margin-top: 100px;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    background-color: rgb(218, 212, 212);
    width: 200px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

.githubLink:hover {
    background-color: grey;
    transition: 0.3s;
}

.githubLink:active {
    transform: translateY(5px);
    transition: 0.1s;
}